
.home__headerLogo > a {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}

.home__headerOptions {
  margin-top: 10px;
  float: right;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.home__headerOptions > a {
  margin-right: 30px;
}
.selected>a{
  background-color: white;
  color:black;
}
.home__headerOptions > Link > a {
text-decoration: none;
  margin-right: 30px;
  text-emphasis: none;
}

.options__anchors {
  border: 1px solid white;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  padding: 5px 40px;
  padding-bottom: 5px;
}

.options__anchors:hover {
  background-color: white;
  color: black;
}