.appointments {
  background-image: url(https://cutewallpaper.org/21/wallpaper-medical/Best-50+-Medical-Wallpaper-on-HipWallpaper-Medical-.jpg);
  /* background-color: #1b1f23; */
  height: 100vh;
  overflow-y: overlay;
  overflow-x: overlay;
}

.appointments__headerSearch {
  margin-top: 110px;
  display: flex;
}

.appointments__headerSearch > input {
  border: none;
  /* margin-bottom: 10px; */
  height: 28px;
  margin-left: 120px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
}


.appointments__headerSearch> a{
  margin-left:400px;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  padding: 5px 40px;
  padding-bottom: 5px;
  background: none;
}
.appointments__headerSearch> a:hover{
  background-color: white;
  color:black;
}
.appointments__headerSearch > input:focus {
  outline: none;
}
.appointments__headerSearch>a:focus{
  outline:none;
}
.appointments__doctorsList {
  display: flex;
  flex-wrap: wrap;
}

.appointments__doctorsListCards {
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 70px;
  width: 230px !important;
  background-color: #fafafa;
  height: 300px !important;
  border-radius: 13px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.cards__image {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 230px;
  height: 143px;
}

.cards__name {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.cards__info {
  text-align: center;
}
.cards__button {
  margin-top: auto;
}

.cards__button > button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid darkgrey;
  font-size: 15px;
  background: none;
  color: black;
  margin-top: 30px;
  /* margin: 10px; */
  text-decoration: none;
  border-radius: 10px;
}

/* .cards__button > button:hover {
  transition:transform 300ms ease-in-out;
  transform:scale(1.08)!important;
} */

.cards__button > button:focus {
  outline: none;
}
.appointments__doctorsListCards:hover {
  transition: transform 200ms ease-in;
  transform: scale(1.03) !important;
}
