body
{
  background-image: url(https://cutewallpaper.org/21/wallpaper-medical/Best-50+-Medical-Wallpaper-on-HipWallpaper-Medical-.jpg);
  background-position: center center;
  height: 98vh;
  background-size: cover;
}
ul {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 500px; 
  padding-top: 22px;

}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 40px;
  border: 1px solid white;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color:#cccac5;
  color: #000;
}
.logo {
  float: left;
  font-size: 50px;
}
.logo a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding: 5px 20px;
}
.day{
	padding-top: 30px;
	color: white;

}
ol {
  margin-top: 10px;
  list-style-type: none; 
  padding-top: 22px;

}

ol li {
  display: inline-block;
}

ol li a {
  text-decoration: none;
  color: white;
  padding: 5px 40px;
  border: 1px solid white;
  transition: 0.6s ease;
}

ol li a:hover {
  background-color:#cccac5;
  color: #000;
}